<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-image: url('/img/index.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="position-absolute top-50 start-50 translate-middle text-center text-white bold">
    <h1>We connect people with their dream cars.</h1>
</div>

</body>
</html>